In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelBinarizer, LabelEncoder
from sklearn.metrics import accuracy_score, roc_auc_score

In [3]:
from neural_network import FNNClassifier
from sklearn.linear_model import SGDClassifier, LogisticRegression

Using TensorFlow backend.

In [4]:
scaler = StandardScaler()

### Binary Classification - Cenesus Data

In [5]:
df = pd.read_csv('./data/adult.csv')

In [6]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [7]:
df['income'].value_counts()

<=50K    24720
>50K      7841
Name: income, dtype: int64

In [8]:
df = pd.get_dummies(df)

In [9]:
X = df[[c for c in df.columns if c not in ['income_<=50K', 'income_>50K']]].values

In [10]:
y = df['income_>50K'].values

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=22)

In [12]:
X_train = scaler.fit_transform(X_train)

C:\Users\k\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [13]:
fnn = FNNClassifier(class_weight='balanced', early_stopping=5)

In [14]:
fnn.fit(X_train, y_train)

Data size (29304, 108) -	 Epochs 100 -	 Batch Size 128
Computed Class Weights {0: 0.6572466693580945, 1: 2.089858793324775}
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
Hidden_1 (Dense)             (None, 50)                5450
_________________________________________________________________
Dropout_1_0.5 (Dropout)      (None, 50)                0
_________________________________________________________________
Output_sigmoid (Dense)       (None, 1)                 51
=================================================================
Total params: 5,501
Trainable params: 5,501
Non-trainable params: 0
_________________________________________________________________
Train on 26373 samples, validate on 2931 samples
Epoch 1/100
26373/26373 [==============================] - 3s 121us/step - loss: 0.5332 - acc: 0.7179 - val_loss: 0.4319 - val_acc: 0.7728
Epoch 2/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.4353 - acc: 0.7802 - val_loss: 0.4203 - val_acc: 0.7881
Epoch 3/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.4187 - acc: 0.7891 - val_loss: 0.4141 - val_acc: 0.7827
Epoch 4/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.4004 - acc: 0.7958 - val_loss: 0.4099 - val_acc: 0.7905
Epoch 5/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3968 - acc: 0.7935 - val_loss: 0.4079 - val_acc: 0.7946
Epoch 6/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.3901 - acc: 0.7988 - val_loss: 0.4070 - val_acc: 0.7926
Epoch 7/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3847 - acc: 0.8031 - val_loss: 0.4052 - val_acc: 0.7977
Epoch 8/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3817 - acc: 0.8030 - val_loss: 0.4030 - val_acc: 0.7929
Epoch 9/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3803 - acc: 0.8014 - val_loss: 0.4039 - val_acc: 0.7980
Epoch 10/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3779 - acc: 0.8061 - val_loss: 0.4035 - val_acc: 0.7943
Epoch 11/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.3720 - acc: 0.8067 - val_loss: 0.4029 - val_acc: 0.7926
Epoch 12/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3730 - acc: 0.8082 - val_loss: 0.4025 - val_acc: 0.7950
Epoch 13/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3732 - acc: 0.8100 - val_loss: 0.4027 - val_acc: 0.8001
Epoch 14/100
26373/26373 [==============================] - 1s 26us/step - loss: 0.3741 - acc: 0.8108 - val_loss: 0.4025 - val_acc: 0.7980
Epoch 15/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.3689 - acc: 0.8123 - val_loss: 0.4020 - val_acc: 0.7973
Epoch 16/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3699 - acc: 0.8113 - val_loss: 0.4026 - val_acc: 0.7960
Epoch 17/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.3683 - acc: 0.8103 - val_loss: 0.4019 - val_acc: 0.7936
Epoch 18/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.3680 - acc: 0.8081 - val_loss: 0.4007 - val_acc: 0.7977
Epoch 19/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.3656 - acc: 0.8106 - val_loss: 0.4028 - val_acc: 0.7987
Epoch 20/100
26373/26373 [==============================] - 1s 26us/step - loss: 0.3659 - acc: 0.8139 - val_loss: 0.3999 - val_acc: 0.7977
Epoch 21/100
26373/26373 [==============================] - 1s 25us/step - loss: 0.3648 - acc: 0.8120 - val_loss: 0.4019 - val_acc: 0.7990
Epoch 22/100
26373/26373 [==============================] - 1s 23us/step - loss: 0.3641 - acc: 0.8122 - val_loss: 0.4023 - val_acc: 0.7970
Epoch 23/100
26373/26373 [==============================] - 1s 24us/step - loss: 0.3631 - acc: 0.8142 - val_loss: 0.4017 - val_acc: 0.7970
Epoch 24/100
26373/26373 [==============================] - 1s 23us/step - loss: 0.3620 - acc: 0.8123 - val_loss: 0.4033 - val_acc: 0.8018
Fit complete in 18.82 seconds

In [15]:
fnn.score(scaler.transform(X_test), y_test)

3257/3257 [==============================] - 0s 37us/step

C:\Users\k\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

{'accuracy': 0.8194657661338727, 'loss': 0.3678206117525765}

In [16]:
logistic = LogisticRegression(class_weight='balanced')

In [17]:
logistic.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [18]:
accuracy_score(y_pred=logistic.predict(scaler.transform(X_test)), y_true=y_test)

C:\Users\k\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

0.8167024869511821